<!doctype html>
<html class="bg-bgeaea htmlpdt3">
<head>
    <meta charset="UTF-8">
    <title>钱罐子ues2</title>
    <link rel="import" href="../includes/meta.html?__inline">
</head>
<body>
    <div class=" index wechatv2" >
        <link rel="import" href="../includes/header.html?__inline">
         <div class="container" >        
            <li >
              注册
            </li>
         </div>
         
    </div>
    <link rel="import" href="../includes/footer.html?__inline">
   
    <script type="text/javascript">
       
    </script>
</body>
</html>