.fl{float: left;}
.fr{float: right;}

.pos-r{position: relative;}
.pos-a{position: absolute;}

.padb16{padding-bottom: 16px;}
.padt20{padding-top: 20px;}
.padt30{padding-top: 30px;}

@media (min-width: 1920px){
	.wrapper-header {
	    width: 1600px;
	    margin: 0 auto;
	}
	.wrapper {
	    width: 1600px;
	    margin: 0 auto;
	   
	}
}

.loading{
	margin:10% auto;display:block;
	-moz-animation: spin 2s linear infinite;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
0% {
   	transform:rotate(0deg);
 }
 100% {
   	transform:rotate(360deg);
 }
}
@-webkit-keyframes spin {
0% {
   	transform:rotate(0deg);
 }
 100% {
   	transform:rotate(360deg);
 }
}
@keyframes spin {
0% {
   	transform:rotate(0deg);
 }
 100% {
   	transform:rotate(360deg);
 }
}

.dropdown-menu{display: block;}
.pdr0{padding-right: 0;}

.tips{
	position: fixed; top:50%; left:50%; z-index: 10000;
	width:300px;padding:10px 20px;text-align: center;
	background-color:rgba(0,0,0,.5);
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	margin-left: -150px;
	display: none;
}



